# Config for site settings which are true regardless of stage. These can be
# Overridden in site.config.py

# ReCaptcha
RECAPTCHA_ENABLED = True
RECAPTCHA_THEME = "light"
RECAPTCHA_TYPE = "image"


# Personal Variables
RESUME_URL = 'https://michael-henry.s3.amazonaws.com/Public/Michael_Henry_Resume.pdf'

