 <!--About Me Layout-->
        <main class="text-center py-5" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <!--Card-->
                        <div class="card card-cascade wider reverse my-4">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="{{ url_for('static', filename='images/profile-pic.png') }}" class="img-fluid">
                                <a href="#!">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/Card image-->

                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Title-->
                                <h4 class="card-title"><strong>Hey, I'm Michael.</strong></h4>
                                <h5 class="blue-text darken-4"><strong></strong></h5>

                                <p class="card-text">
                                    I am a technology professional from Auburn, Alabama recently relocated to the D.C. Metro.
                                    I am a hard working passionate person who loves all things technology. I believe in the
                                    power of a team and the culture within, but I am also a self-motivated individual who
                                    is always interested in taking things a step further. I believe in continuous improvement
                                    and the desire for excellence in everything I do.
                                </p>
                                  <!--Linkedin-->
                                  <a class="icons-sm li-ic" href="https://www.linkedin.com/in/mhenry01/" target="_blank"><i class="fa fa-linkedin"> </i></a>
                                  <!--Twitter-->
                                  <a class="icons-sm tw-ic" href="https://twitter.com/michael_d_henry" target="_blank"><i class="fa fa-twitter"> </i></a>
                                  <!--Dribbble-->
                                  <a class="icons-sm fb-ic" href="https://facebook.com/mdh0014" target="_blank"><i class="fa fa-facebook"> </i></a>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->

                    </div>
                    <div class="col-md-7 align-self-center p-5">
                        <h2 class="pb-2 blue-text">Nice to meet you!</h2>
                        <div class="chip chip-lg">
                            <i class="fa fa-linux"></i> Linux
                        </div>

                        <div class="chip chip-lg">
                            <i class="icon-python"></i>  Python
                        </div>

                        <div class="chip chip-lg">
                            <i class="fa fa-windows"></i> Windows
                        </div>
                        <div class="chip chip-lg">
                            <i class="icon-aws"></i> AWS
                        </div>
                        <div class="chip chip-lg">
                            <i class="icon-wordpress"></i> Wordpress
                        </div>
                        <div class="chip chip-lg">
                            <i class="icon-mysql"></i> MySQL
                        </div>
                        <div class="chip chip-lg">
                            <i class="icon-redhat"></i> Red Hat
                        </div>
                        <div class="chip chip-lg">
                            <i class="icon-centos"></i> Centos
                        </div>
                        <div class="chip chip-lg">
                            <i class="icon-ubuntu"></i> Ubuntu
                        </div>
                        <div class="chip chip-lg">
                            <i class="icon-apache"></i> Apache
                        </div>
                        <p>I have spent the last <script>document.write(new Date().getFullYear() - 2010)</script>+ years absorbing every bit of knowledge I can about technology.
                        I am constantly learning new skills, and pushing what I know to the limits. I am a firm believer that
                        you can never know enough, so I live my life with the goal of learning something new EVERY day. </p>
                        <div><hr></div>
                        <div><img src="{{ url_for('static', filename='images/certifications/AWS_Certified_Logo_SAA_294x230_Color.png') }}"></div>
                        <div><img src="{{ url_for('static', filename='images/certifications/AWS_Certified_Tag__SAA_294x230-Color.png') }}"></div>
                        <div><img src="{{ url_for('static', filename='images/certifications/AWS_Certified_Tag__DVA_294x230-Color.png') }}"></div>


                    </div>
                </div>
            </div>
        </main>
        <!--About Me Layout-->
