<!doctype html>
<!--<html lang="en" class="full-height">-->
<html>
  <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mdb/css/compiled.min.css') }}">
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='mdb/css/mdb.css') }}">-->
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='mdb/css/bootstrap.css') }}">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css"
              integrity="sha256-KkbZmx6FZVSEtoV2osxWijO2la7keAhUtFPsV0IPkv8=" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='mdb/css/style.css') }}">

    </head>
    <body data-spy="scroll" data-target="#main_nav" data-offset="50">

        <!--Main Navigation-->
        <header>

            <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="main_nav">
                <button class="navbar-toggler" type="button" data-toggle="show" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto smooth-scroll horizontal-spy">
                        <li class="nav-item">
                            <a class="nav-link" href="#main">Hello</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#resume">Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Get In Touch</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="view intro hm-black-strong" style="" id="main">
                <div class="full-bg-img flex-center">
                    <div class="container text-center white-text wow fadeInUp">
                        <div class="row ">
                            <div class="col smooth-scroll">
                                <h4 class="display-3 blue-text darken-4" style="font-size: 2em">Hello</h4>
                                <h2 class="display-2" style="font-size: 4em">I'm Michael</h2>
                                <p class="h5-responsive thin-font justified">JESUS LOVER &middot IT PROFESSIONAL</p>
                                <br>
                                <a href="#about" class="blue-text darken-4"><i class="fa fa-angle-down fa-5x" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!--Main Navigation-->

        <!-- Start Body -->
        {% block content %}{% endblock %}
        <!-- End Body -->

        <!--Footer-->
        <footer class="page-footer blue darken-4 center-on-small-only">
            <!--Footer Links-->
            <div class="container">

                <!--First row-->
                <div class="row">

                    <!--First column-->
                    <div class="col-md-12">

                        <div class="footer-socials mb-5 flex-center">
                            <!--Facebook-->
                            <a class="icons-sm fb-ic" href="https://facebook.com/mdh0014"
                               target="_blank"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>
                            <!--Twitter-->
                            <a class="icons-sm tw-ic" href="https://twitter.com/michael_d_henry"
                               target="_blank"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>
                            <!--Google +-->
                            <a class="icons-sm gplus-ic" href="https://plus.google.com/u/0/+MichaelHenry01"
                               target="_blank"><i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i></a>
                            <!--Linkedin-->
                            <a class="icons-sm li-ic" href="https://www.linkedin.com/in/mhenry01/"
                               target="_blank"><i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i></a>
                            <!--Instagram-->
                            <a class="icons-sm ins-ic" href="https://instagram.com/michael_d_henry"
                               target="_blank"><i class="fa fa-instagram fa-lg white-text mr-md-4"> </i></a>
                        </div>
                    </div>
                    <!--/First column-->
                </div>
                <!--/First row-->
            </div>
            <!--/Footer Links-->
            <!--Copyright-->
            <div class="footer-copyright">
                <div class="container-fluid">
                    &copy; Copyright <script>document.write(new Date().getFullYear())</script> by <a href="https://michaelhenry.me">Michael Henry</a>.
                </div>
            </div>
            <!--/.Copyright-->

        </footer>
        <!--/.Footer-->

    <script src="{{ url_for('static', filename='mdb/js/jquery-3.2.1.min.js') }}"></script>
    <script>
         $(function() {
            $('.submit-contact').on('click', function() {
                var name = $('#form-contact-name').val();
                if (name == '') {
                        $('.failure-p').replaceWith('<p class="white-text mb-0 failure-p">Name is required</p>');
                        $('.failure').css('display', '');
                        return false;
                    }
                var email = $('#form-contact-email').val();
                if (email == '') {
                        $('.failure-p').replaceWith('<p class="white-text mb-0 failure-p">Email is required</p>');
                        $('.failure').css('display', '');
                        return false;
                    }
                var phone = $('#form-contact-phone').val();
                var company = $('#form-contact-company').val();
                var message = $('#form-contact-message').val();
                if (message == '') {
                        $('.failure-p').replaceWith('<p class="white-text mb-0 failure-p">A message is required</p>');
                        $('.failure').css('display', '');
                        return false;
                    }
                        $.ajax({
                            url: '/send_email',
                            data: $('#contact_me').serialize(),
                            type: 'POST',
                            success: function(response) {
                                console.log(response);
                                $('.failure').css('display', 'none');
                                $('.success').css('display', '');
                            },
                            error: function(error) {
                                if (error.status === 450){
                                    console.log("Bot User's Not allowed.");
                                    console.log("Unable to send email.", error.status, error.statusText);
                                    $('.failure-p').replaceWith('<p class="white-text mb-0 failure-p">Be sure to verify you aren\'t a cyborg!</p>');
                                    $('.failure').css('display', '');
                                }
                                console.log("Unable to send email.", error.status, error.statusText);
                                $('.failure').css('display', '');
                            }
                        });
            });
         });
         $(document).ready(function() {
             $(document).click(function(e) {
                 console.log(e.target)
                 console.log(e.target)
                if( $(e.target).is('span') ) {
                    console.log("I should be closing.", e.target);
                    $("#navbarSupportedContent").toggleClass("show");
                 }
            });
         });
    </script>
    <script src="{{ url_for('static', filename='mdb/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mdb/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='mdb/js/compiled.min.js') }}"></script>
      <script>
        wow = new WOW().init();
    </script>
  </body>
</html>