{% extends "header.html" %}
{% block title %}Hello{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
        <!--About Me Layout-->
        <main class="text-center py-5" id="about">

            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                    <!--Card-->
                    <div class="card card-cascade wider reverse my-4">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="{{ url_for('static', filename='images/profile-pic.png') }}" class="img-fluid">
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/Card image-->

                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Title-->
                            <h4 class="card-title"><strong>Hey, I'm Michael.</strong></h4>
                            <h5 class="blue-text darken-4"><strong></strong></h5>

                            <p class="card-text">
                                I am a technology professional from Auburn, Alabama recently relocated to the D.C. Metro.
                                I am a hard working passionate person who loves all things technology. I believe in the
                                power of a team and the culture within, but I am also a self-motivated individual who
                                is always interested in taking things a step further. I believe in continuous improvement
                                and the desire for excellence in everything I do.
                            </p>
                              <!--Linkedin-->
                              <a class="icons-sm li-ic" href="https://www.linkedin.com/in/mhenry01/" target="_blank"><i class="fa fa-linkedin"> </i></a>
                              <!--Twitter-->
                              <a class="icons-sm tw-ic" href="https://twitter.com/michael_d_henry" target="_blank"><i class="fa fa-twitter"> </i></a>
                              <!--Dribbble-->
                              <a class="icons-sm fb-ic" href="https://facebook.com/mdh0014" target="_blank"><i class="fa fa-facebook"> </i></a>

                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->

                    </div>
                  <div class="col-md-7 align-self-center p-5">
                      <h2 class="pb-2 blue-text">Nice to meet you!</h2>
                        <div class="chip chip-lg">
                            <i class="fa fa-linux"></i> Linux
                        </div>

                        <div class="chip chip-lg">
                            <i class="icon-python"></i>  Python
                        </div>

                        <div class="chip chip-lg">
                            <i class="fa fa-windows"></i> Windows
                        </div>
                        <div class="chip chip-lg">
                            <i class="icon-aws"></i> AWS
                        </div>
                        <div class="chip chip-lg">
                            <i class="icon-wordpress"></i> Wordpress
                        </div>
                        <div class="chip chip-lg">
                            <i class="icon-mysql"></i> MySQL
                        </div>
                        <div class="chip chip-lg">
                            <i class="icon-redhat"></i> Red Hat
                        </div>
                        <div class="chip chip-lg">
                            <i class="icon-centos"></i> Centos
                        </div>
                        <div class="chip chip-lg">
                            <i class="icon-ubuntu"></i> Ubuntu
                        </div>
                        <div class="chip chip-lg">
                            <i class="icon-apache"></i> Apache
                        </div>
                      <p>I have spent the last seven+ years absorbing every bit of knowledge I can about technology.
                      I am constantly learning new skills, and pushing what I know to the limits. I am a firm believer that
                      you can never know enough, so I live my life with the goal of learning something new EVERY day. </p>

                </div>
            </div>

        </main>
        <!--About Me Layout-->
        <!--Resume Layout-->
        </div>
        <main class="text-center py-5" id="resume">
            <!--Download Row-->
            <!--<div class="view intro hm-black-strong jarallax" data-jarallax-video="https://media.giphy.com/media/pk58i4Fw4L9bG/giphy.gif" style="background-image: url(https://media.giphy.com/media/pk58i4Fw4L9bG/giphy.gif);">-->
            <div class="view intro hm-black-slight jarallax" data-jarallax='{"speed": 0.2}' data-jarallax-video="https://i.imgur.com/Jvsfc8P.gif" style="background-image: url(https://i.imgur.com/Jvsfc8P.gif);">
                <div class="full-bg-img">
                    <div class="container flex-center">
                        <div class="row mt-5 py-5">
                            <div class="col-md-12 wow fadeIn mb-3">
                                <div class="text-center">
                                    <h1 class="display-2 mb-2 white-text darken-2 fadeInDown" data-wow-delay="0.3s">My Resume</h1>
                                    <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s"></h5>
                                    <a class="btn btn-outline-white waves-effect btn-block wow fadeInDown" data-wow-delay="0.4s" href="{{ resume_url }}"
                                     download="MichaelHenry-Resume">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Download Row-->
            <div class="container">
                <div class="row pb-2">
                    <div class="col">
                        <h3 class="thin-font text-uppercase blue-text darken-4 p-5">My Projects on GitHub</h3>
                     <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-6 col-xl-5 align-self-center">

                                <!--Image-->
                                <img src="{{ url_for('static', filename='images/personal_projects.jpeg') }}" alt="My personal Projects" class="img-fluid rounded z-depth-1">

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4 pt-4">
                            {% for repo in repos %}
                                <!--Grid row-->
                                <div class="row mb-3">
                                    <div class="col-1 mr-1">

                                    </div>
                                    <div class="col-10">
                                        <a href="{{ repo['html_url'] }}"><h5 class="font-bold">{{ repo['name'] }}</h5></a>
                                        <p class="grey-text">{{ repo['description'] }}</p>
                                    </div>
                                </div>
                                <!--Grid row-->
                            {% endfor %}
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                    </div>
                </div>
                <h3 class="thin-font text-uppercase blue-text darken-4 p-5">My Job History</h3>
                <div class="row pb-2">
                    <div class="col">
                        <!--Card-->
                        <div class="card testimonial-card">

                            <!--Background color-->
                            <div class="card-up blue darken-4">
                            </div>

                            <!--Avatar-->
                            <div class="avatar">
                                <i class="fa fa-amazon fa-5x blue-text darken-4 pt-2"></i>
                            </div>

                            <div class="card-body">
                                <!--Name-->
                                <h4 class="card-title">Support Engineer III</h4>
                                <h5 class="h5-responsive">Amazon Web Services</h5>
                                <hr>
                                <!--Quotation-->
                                <table class="table">
                                    <tr>
                                        <td><i class="fa fa-clock-o blue-text"></i> May 2017 - Present</td>
                                        <td><i class="fa fa-map-marker blue-text"></i> Washington D.C Metro</td>
                                    </tr>
                                </table>
                                <p>Operational support, maintenance, and feature launch for Database Services
                                    and Machine Learning/AI services for Amazon Web Services.</p>
                            </div>

                        </div>
                        <!--/.Card-->
                    </div>

                    <div class="col">
                        <!--Card-->
                        <div class="card testimonial-card">

                            <!--Background color-->
                            <div class="card-up blue darken-4">
                            </div>

                            <!--Avatar-->
                            <div class="avatar">
                                <img src="{{ url_for('static', filename='images/hid.jpeg') }}">
                            </div>

                            <div class="card-body">
                                <!--Name-->
                                <h4 class="card-title">Senior Systems Administrator</h4>
                                <h5 class="h5-responsive">Health Information Designs</h5>
                                <hr>
                                <!--Quotation-->
                                <table class="table">
                                    <tr>
                                        <td><i class="fa fa-clock-o blue-text"></i> October 2011 - May 2017</td>
                                        <td><i class="fa fa-map-marker blue-text"></i> Auburn, AL</td>
                                    </tr>
                                </table>
                                <p>Work with a team of IT professionals to design, maintain and improve
                                    production and corporate applications.</p>
                            </div>

                        </div>
                        <!--/.Card-->
                    </div>
                </div>
            </div>
        </main>
        <!--ResumeLayout-->
        <!--Contact Me Layout-->
        <main class="text-center py-5" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!-- Form contact -->
                        <section class="section mb-5 pt-5">

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-12">

                                    <!--Form with header-->
                                    <div class="card">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="card-body form">
                                                    <!--Header-->
                                                    <div class="formHeader mb-1 pt-3">
                                                        <h3><i class="fa fa-envelope"></i> Write me:</h3>
                                                    </div>

                                                    <br>

                                                    <form action="/send_email" method="POST" id="contact_me">
                                                        <!--Grid row-->
                                                        <div class="row">

                                                            <!--Grid column-->
                                                            <div class="col-md-6">
                                                                <div class="md-form">
                                                                    <div class="md-form">
                                                                        <input type="text" id="form-contact-name"
                                                                               class="form-control" name="name" required>
                                                                        <label for="form-contact-name" class="">Your name</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--Grid column-->

                                                            <!--Grid column-->
                                                            <div class="col-md-6">
                                                                <div class="md-form">
                                                                    <div class="md-form">
                                                                        <input type="email" id="form-contact-email"
                                                                               class="form-control" name="email" required>
                                                                        <label for="form-contact-email" class="">Your email</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--Grid column-->

                                                        </div>
                                                        <!--Grid row-->

                                                        <!--Grid row-->
                                                        <div class="row">

                                                            <!--Grid column-->
                                                            <div class="col-md-6">
                                                                <div class="md-form">
                                                                    <div class="md-form">
                                                                        <input type="tel" id="form-contact-phone"
                                                                               class="form-control" name="phone">
                                                                        <label for="form-contact-phone" class="">Your phone</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--Grid column-->

                                                            <!--Grid column-->
                                                            <div class="col-md-6">
                                                                <div class="md-form">
                                                                    <div class="md-form">
                                                                        <input type="text" id="form-contact-company"
                                                                               class="form-control" name="company">
                                                                        <label for="form-contact-company" class="">Your company</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--Grid column-->

                                                        </div>
                                                        <!--Grid row-->

                                                        <!--Grid row-->
                                                        <div class="row">

                                                            <!--Grid column-->
                                                            <div class="col-md-6 pt-3 align-center">
                                                                {{ recaptcha }}
                                                            </div>
                                                            <!--Grid column-->

                                                            <!--Grid column-->
                                                            <div class="col-md-6">

                                                                <div class="md-form">
                                                                    <textarea type="text" id="form-contact-message"
                                                                              class="md-textarea" name="message" required></textarea>
                                                                    <label for="form-contact-message">Your message</label>
                                                                    <a type="submit"
                                                                       class="btn-floating btn-lg blue submit-contact"><i class="fa fa-send-o"></i></a>
                                                                </div>

                                                            </div>
                                                            <!--Grid column-->

                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Status row-->
                                                        <div class="row">
                                                            <div class="col-md-12 success" style="display:none">
                                                                <div class="card success-color text-center z-depth-2">
                                                                    <div class="card-body">
                                                                        <p class="white-text mb-0">Your message has been sent.
                                                                            I will be in touch soon!</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12 failure" style="display:none">
                                                                <div class="card red lighten-1 text-center z-depth-2">
                                                                    <div class="card-body ">
                                                                        <p class="white-text mb-0 failure-p">Something went
                                                                            wrong when trying to send the email...</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Status row-->
                                                    </form>

                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="card-body contact text-center bg-blue darken-4">
                                                    <div class="container">
                                                        <div class="mb-5">
                                                            <h3>My Information</h3>
                                                        </div>

                                                        <ul class="contact-icons">
                                                            <li>
                                                                <p><i class="fa fa-map-marker text-white"></i> Herndon, VA 20170</p>
                                                            </li>

                                                            <li>
                                                                <p><i class="fa fa-phone text-white"></i> <a class="text-white" href="tel:13344446464">(334) 444-6464</a></p>
                                                            </li>

                                                            <li>
                                                                <p><i class="fa fa-envelope text-white"></i> <a class="text-white"
                                                                      href="mailto:michael@michaelhenry.me">michael@michaelhenry.me</a></p>
                                                            </li>
                                                        </ul>

                                                        <hr class="hr-light mb-4 mt-4">

                                                        <ul class="inline-ul text-center list-unstyled">
                                                            <li>
                                                                <a class="icons-sm tw-ic"
                                                                   href="https://twitter.com/michael_d_henry"
                                                                   target="_blank"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>
                                                            </li>
                                                            <li>
                                                                <a class="icons-sm li-ic"
                                                                   href="https://www.linkedin.com/in/mhenry01/"
                                                                   target="_blank"><i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i></a>
                                                            </li>
                                                            <li>
                                                                <a class="icons-sm ins-ic"
                                                                   href="https://instagram.com/michael_d_henry"
                                                                   target="_blank"><i class="fa fa-instagram fa-lg white-text mr-md-4"> </i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/Form with header-->

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                        </section>
                        <!-- Form contact -->
                    </div>
                </div>
            </div>

        </main>
        <!--Contact Me Layout-->
{% endblock %}