        <!--Resume Layout-->
        <main class="text-center py-5" id="resume">
            <!--Download Row-->
            <!--<div class="view intro hm-black-strong jarallax" data-jarallax-video="https://media.giphy.com/media/pk58i4Fw4L9bG/giphy.gif" style="background-image: url(https://media.giphy.com/media/pk58i4Fw4L9bG/giphy.gif);">-->
            <div class="view intro hm-black-slight jarallax" data-jarallax='{"speed": 0.2}' data-jarallax-video="https://i.imgur.com/Jvsfc8P.gif" style="background-image: url(https://i.imgur.com/Jvsfc8P.gif);">
                <div class="full-bg-img">
                    <div class="container flex-center">
                        <div class="row mt-5 py-5">
                            <div class="col-md-12 wow fadeIn mb-3">
                                <div class="text-center">
                                    <h1 class="display-2 mb-2 white-text darken-2 fadeInDown" data-wow-delay="0.3s">My Resume</h1>
                                    <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s"></h5>
                                    <a class="btn btn-outline-white waves-effect btn-block wow fadeInDown" data-wow-delay="0.4s" href="{{ resume_url }}"
                                     download="MichaelHenry-Resume">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                    <section class="text-center pt-4 pb-3">
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-r">
                                <!--Card-->
                                <div class="card z-depth-0">
                                    <!--Content-->
                                    <div class="text-center">
                                        <div class="card-body">
                                            <div class="flex-center">
                                                <div class="card-circle">
                                                    <i class="fa fa-coffee michael-blue-text"></i>
                                                </div>
                                            </div>
                                            <h5>Cups of Coffee</h5>
                                            <h2>
                                                <strong class="count_up" data-count="{{ counts['coffee'] }}"></strong>
                                            </h2>
                                        </div>
                                    </div>

                                </div>
                                <!--Card-->
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-r">
                                <!--Card-->
                                <div class="card michael-blue">
                                    <!--Content-->
                                    <div class="text-center white-text">
                                        <div class="card-body">
                                            <div class="flex-center">
                                                <div class="card-circle">
                                                    <i class="fa fa-lightbulb-o white-text"></i>
                                                </div>
                                            </div>
                                            <h5>Crazy Ideas</h5>
                                            <h2>
                                                <strong class="count_up" data-count="{{ counts['ideas'] }}"></strong>
                                            </h2>
                                        </div>
                                    </div>

                                </div>
                                <!--Card-->
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-r">
                                <!--Card-->
                                <div class="card z-depth-0">
                                    <!--Content-->
                                    <div class="text-center">
                                        <div class="card-body">
                                            <div class="flex-center">
                                                <div class="card-circle">
                                                    <i class="fa fa-clock-o michael-blue-text"></i>
                                                </div>
                                            </div>
                                            <h5>IT Hours Worked</h5>
                                            <h2>
                                                <strong class="count_up" data-count="{{ counts['hours'] }}"></strong>
                                            </h2>
                                        </div>
                                    </div>

                                </div>
                                <!--Card-->
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </section>
            </div>

            <div class="container">
                <div class="row pb-2">
                    <div class="col">
                        <h3 class="thin-font text-uppercase blue-text darken-4 p-5">My Projects on GitHub</h3>
                     <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-6 col-xl-5 align-self-center">

                                <!--Image-->
                                <a href="https://github.com/LEXmono/" target="_blank">
                                    <img src="{{ url_for('static', filename='images/GitHub-Mark.png') }}" alt="My personal Projects" class="img-fluid rounded">
                                </a>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4 pt-4">
                            {% for repo in repos %}
                                <!--Grid row-->
                                <div class="row mb-3">
                                    <div class="col-1 mr-1">

                                    </div>
                                    <div class="col-10">
                                        <a href="{{ repo['html_url'] }}" target="_blank"><h5 class="font-bold">{{ repo['name'] }}</h5></a>
                                        <p class="grey-text">{{ repo['description'] }}</p>
                                    </div>
                                </div>
                                <!--Grid row-->
                            {% endfor %}
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                    </div>
                </div>
                <h3 class="thin-font text-uppercase blue-text darken-4 p-5">My Job History</h3>
                <div class="row pb-2">
                    <div class="col">
                        <!--Card-->
                        <div class="card testimonial-card">

                            <!--Background color-->
                            <div class="card-up blue darken-4">
                            </div>

                            <!--Avatar-->
                            <div class="avatar">
                                <i class="fa fa-amazon fa-5x blue-text darken-4 pt-2"></i>
                            </div>

                            <div class="card-body">
                                <!--Name-->
                                <h4 class="card-title">Systems Engineer</h4>
                                <h5 class="h5-responsive">Amazon Web Services</h5>
                                <hr>
                                <!--Quotation-->
                                <table class="table">
                                    <tr>
                                        <td><i class="fa fa-clock-o blue-text"></i> May 2017 - Present</td>
                                        <td><i class="fa fa-map-marker blue-text"></i> Washington D.C Metro</td>
                                    </tr>
                                </table>
                                <p>Operational support, maintenance, and feature launch for Database Services
                                    and Machine Learning/AI services for Amazon Web Services.</p>
                            </div>

                        </div>
                        <!--/.Card-->
                    </div>

                    <div class="col">
                        <!--Card-->
                        <div class="card testimonial-card">

                            <!--Background color-->
                            <div class="card-up blue darken-4">
                            </div>

                            <!--Avatar-->
                            <div class="avatar">
                                <img src="{{ url_for('static', filename='images/hid.jpeg') }}">
                            </div>

                            <div class="card-body">
                                <!--Name-->
                                <h4 class="card-title">Senior Systems Administrator</h4>
                                <h5 class="h5-responsive">Health Information Designs</h5>
                                <hr>
                                <!--Quotation-->
                                <table class="table">
                                    <tr>
                                        <td><i class="fa fa-clock-o blue-text"></i> October 2011 - May 2017</td>
                                        <td><i class="fa fa-map-marker blue-text"></i> Auburn, AL</td>
                                    </tr>
                                </table>
                                <p>Work with a team of IT professionals to design, maintain and improve
                                    production and corporate applications.</p>
                            </div>

                        </div>
                        <!--/.Card-->
                    </div>
                </div>
            </div>
        </main>
        <!--ResumeLayout-->